@import '../../var.css';

.footer{
    background-color: var(--color-primary);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}